[Desktop Entry]
Name=KDE Connect Service (Background)
Name[cs]=Služba KDE Connect (v pozadí)
Name[pl]=Usługi KDE Connect (w tle)
Exec=env KDECONNECT_LOG_FILE=1 RUST_LOG=info kdeconnect-service
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-Flatpak=io.github.hepp3n.kdeconnect
