[Desktop Entry]
Name=SMS
Comment=SMS Messages via KDE Connect
Comment[cs]=Zprávy SMS přes KDE Connect
Comment[pl]=SMSy za pośrednictwem KDE Connect
Icon=io.github.hepp3n.kdeconnect
Exec=cosmic-ext-connect-sms
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
StartupWMClass=io.github.hepp3n.kdeconnect.sms
Categories=Network;Chat;
Keywords=KDE Connect;SMS;COSMIC;
